@import '../../common/styles/colors.module.scss';

.content {
display: flex;
flex-direction: column;
justify-content: center;
gap: 3em;

    .loadingWrapper {
        width: 100vw;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        text-align: center;
        font-size: 2.5em;
        font-weight: 700;
        color: $black-font;
    }

    .cardsWrapper {
        padding: 0 3vw;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 2vw;
    }
}