@import '../../../common/styles/colors.module.scss';

.cardWrapper {
    background-color: #FFF;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    padding: 1em 0 6em;
    width: 45vw;
    min-width: 405px;
    border: 1px solid $black-font;
    border-radius: 0.2em;

    @media screen and (max-width: 900px) {
        width: 100vw;
    }

    .imageWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        height: 120px;
        margin: 1em 0;

        img {
            width: 100%;
            max-height: 100px;
        }
    }

    .schemaOverview {
        width: 100%;
        padding: 1em 0 0;
        background-color: rgba(196, 196, 196, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
        border-bottom: 1px solid $black-font;

        h2 {
            font-size: 1.2em;
        }

        .tipsWrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.5em;
        }
    }

    .buttonsWrapper {
        width: 100%;
        padding: 1em 2em 0;
        position: absolute;
        bottom: 1.5em;
        display: flex;
        justify-content: space-between;
    }
}